{:deps {org.clojure/clojure  {:mvn/version "1.10.1-patch_38bafca9_clj_1472_4"}}
 ;; aliases are used for performance test
 :aliases {:1.10.1 {:override-deps {org.clojure/clojure {:mvn/version "1.10.1" }}}
           :1472-approach-1 {:override-deps {org.clojure/clojure {:mvn/version "1.10.1-patch_38bafca9_clj_1472_reentrant_finally2"}}}
           :1472-approach-2 {:override-deps {org.clojure/clojure {:mvn/version "1.10.1-patch_38bafca9_clj_1472_4"}}}
           :performance {:main-opts ["-m" "spec-test.performance"]}}}
